@font-face {
    font-family: Arial; /* Font name */
    src: url(./fonts/Arial.woff); /* File path (font's location) */
    font-family: Roboto; /* Font name */
    src: url(./fonts/Roboto-Bold.woff2); /* File path (font's location) */
    font-family: Myriad Pro; /* Font name */
    src: url(./fonts/myriadpro.woff2); /* File path (font's location) */
}

body {
	background-color: #fff;
	width: 100%;
	margin: 0;
	text-align: center;
}

.header {
	background: #cfe5ef;
	width: 100%;
}

.central-section {
	width: 65.29%;
	max-width: 1253px;
	background: #cfe5ef;
	display: inline-block;
	text-align: left;
}

.container {
	background-color: #fff;
	width: 65.29%;
	max-width: 1253px;
	display: inline-block;
	padding: 64px 0px 0px 0px;
	text-align: left;
}

.h2 {
	font-family: Roboto, Myriad Pro;
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
}

.row {
	position: relative;
	display: block;
	width: 100%;
}
.section {
	height: 50px;
	float: left;
	border: 1px solid #9f9f9f;
	box-sizing: border-box;
	background-color: #e2e2e2;
}

.sb11 {
	width: 92.34%;
}

.sb12 {
	width: 7.66%;
}

.sb21 {
	width: 83.80%;
}

.sb22 {
	width: 16.20%;
}

.sb31 {
	width: 75.34%;
}

.sb32 {
	width: 24.66%;
}

.sb41 {
	width: 66.96%;
}

.sb42 {
	width: 33.04%;
}

.sb51 {
	width: 58.50%;
}

.sb52 {
	width: 41.50%;
}

.sb61 {
	width: 50.40%;
}

.sb62 {
	width: 49.60%;
}

.section2 {
	height: auto;
	width: 100%;
	margin-bottom: 21px;
	float: left;
	
}

.section_inner_pad {
	border: 1px solid #9f9f9f;
	background-color: #e2e2e2;
	height: 50px;
	margin-right: 21px;
}

.section_inner {
	border: 1px solid #9f9f9f;
	background-color: #e2e2e2;
	height: 50px;
}

.sb11pad {
	width: 91.46%;
}

.sb12pad {
	width: 6.86%;
}

.sb21pad {
	width: 83.08%;
}

.sb22pad {
	width: 15.24%;
}

.sb31pad {
	width: 74.54%;
}

.sb32pad {
	width: 23.78%
}

.sb41pad {
	width: 66.08%;
}

.sb42pad {
	width: 32.24%;
}

.sb51pad {
	width: 57.70%;
}

.sb52pad {
	width: 40.62%;
}

.sb61pad {
	width: 49.24%;
}

.sb62pad {
	width: 49.08%;
}